<div style="text-align:center;">
    <h2>SEARCH</h2>
    <input #searchfield type="text" placeholder="Search for an image">
    <button type="button" (click)="search(searchfield.value);">Search</button>
</div>
<div>
    <ul style="list-style: none; padding-left: 0;">
        <li *ngFor="let image of imagesResponse.collection.items">
            <div style="margin: 25px; margin-left: 0;">
                <table>
                    <tr>
                        <td rowspan="3">
                            <a target="_blank" href="{{ image.links[0].href }}">
                                <img src="{{ image.links[0].href }}" alt="Loading Image" height="200">
                            </a>
                        </td>
                        <td>
                            <b>{{ image.data[0].title }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ image.data[0].date_created }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button">Add to Collection</button>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>
<div style="text-align:center;">
    <button type="button">Previous</button>
    <button type="button">Next</button>
</div>